@model Universidad
@{
    ViewData["Title"] = "Añadir Docente";
}

@if (UniversidadManager.Instance.Docentes.Count > 0)
{
    <h1 class="display-4 text-center">Escoja el docente que trabajará en @Model.Nombre</h1>
    @if((bool)ViewBag.hasError)
    {
        <div class="alert alert-warning">@ViewBag.error</div>
    }

        <div class="text-center row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="card-columns">
                        @foreach (var item in UniversidadManager.Instance.Docentes)
                        {
                            <div class="card">
                                <form method="post" asp-controller="Universidad" 
                                       asp-action="AgregarDocente"
                                      asp-route-idUniversidad="@Model.IdUniversidad"
                                       asp-route-idDocente="@item.IdEmpleado">
                                    <div class="card-title">
                                        <button class="btn btn-link ml-lg-4" type="submit">@item.Nombre</button><br />
                                    </div>
                                    <div class="card-body">
                                        <p>Teléfono: @item.Telefono</p>
                                        @if (item.Universidades.Count > 0)
                                        {
                                            <p><b>Universidades:</b></p> <p>
                                                @for (int i = 0; i < item.Universidades.Count; i++)
                                                {
                                                    if (i >= 3)
                                                    {
                                                        <span>entre otras...</span>
                                                        break;
                                                    }
                                                    <span>@item.Universidades[i].Nombre,</span>
                                                }
                                            </p>
                                        }
                                    </div>
                                </form>
                            </div>
                        }   
                    </div>
                </div>
            </div>
        </div>
}
else
{
    <h3 class="alert alert-info">Aún no se ha añadido ningun docente.</h3>
    <a class="btn btn-success text-white" asp-controller="Docente" asp-action="Agregar">Agregar Docente</a>
}
<a class="btn btn-primary" asp-controller="Universidad" asp-action="Docentes" asp-route-id="@Model.IdUniversidad">Volver</a>