@model Alumno
@{
    ViewData["Title"] = "Añadir Maestría";
}

@if (UniversidadManager.Instance.Maestrias.Count > 0)
{
    <h1 class="display-4 text-center">Escoja la maestría que @Model.Nombre va a tomar</h1>
    @if((bool)ViewBag.hasError)
    {
        <div class="alert alert-warning">@ViewBag.error</div>
    }

    <!--form asp-controller="Alumno" asp-action="AgregarMaestria" method="post" class="mt-4"-->
        <div class="text-center row">
            <div class="form-group">
                <div class="col-md-12">
                    <div class="card-columns">
                        @foreach (var item in UniversidadManager.Instance.Maestrias)
                        {
                            <div class="card">
                                <form method="post" asp-controller="Alumno" 
                                       asp-action="AgregarMaestria"
                                      asp-route-idAlumno="@Model.BoletaAlumno"
                                       asp-route-idMaestria="@item.IdMaestria">
                                    <div class="card-title">
                                        <button class="btn btn-link ml-lg-4" type="submit">@item.Nombre</button><br />
                                    </div>
                                    <div class="card-body">
                                        <p>Duración: @item.Duracion años</p>
                                        @if(item.Docentes.Count > 0)
                                        {
                                            <p><b>Docentes:</b></p> <p>
                                            @for(int i = 0; i < item.Docentes.Count; i++)
                                            {
                                                if(i >= 3)
                                                {
                                                    <span>entre otros...</span>
                                                    break;
                                                }
                                                <span>@item.Docentes[i].Nombre,</span>
                                            }
                                            </p>
                                        }
                                    </div>
                                </form>
                            </div>
                        }   
                    </div>
                </div>
            </div>

            <!--div class="form-group">
                <div class="col-md-5">
                    <button type="submit" class="btn btn-success mt-4">Guardar</button>
                </div>
            </!--div -->
        </div>
    <!--/form-->
}
else
{
    <h3 class="alert alert-info">Aún no se ha añadido ninguna maestría.</h3>
    <a class="btn btn-success text-white" asp-controller="Maestria" asp-action="Agregar">Agregar Maestría</a>
}
<a class="btn btn-primary" asp-controller="Alumno" asp-action="Maestrias" asp-route-id="@Model.BoletaAlumno">Volver</a>