@model Alumno

<h2 class="display-4">Maestrías de @Model.Nombre</h2>

@if (Model.Maestrias.Count > 0)
{
    <div class="card-columns">
        @foreach (var item in Model.Maestrias)
        {
            <div class="card">
                <div class="card-body">
                    <h5>@item.Nombre</h5>
                    <h5>@item.Duracion años</h5>
                    <button class="btn btn-danger" id="btnBorrar" onclick="deleteMastery(@Model.BoletaAlumno, @item.IdMaestria)">Eliminar</button>
                </div>
            </div>
        }
    </div>
    <script>
        function deleteMastery(idAlumno, idMaestria) {
            $.ajax({
                type: 'POST',
                url: '/Alumno/EliminarMaestria/',
                data: { idAlumno, idMaestria },
                success: function () {
                    location.reload();
                },
                error: function (data) {
                    console.log(data);
                }
            });
        }
        
    </script>
}
else
{
    <h3 class="alert alert-info">Este alumno no tiene maestrías.</h3>

}
<a class="btn btn-primary" asp-controller="Alumno" asp-action="AgregarMaestria" asp-route-id="@Model.BoletaAlumno">Agregar Maestría</a>
<a class="btn btn-primary" asp-controller="Alumno" asp-action="List" >Volver</a>